body {
    background-color: orangered;
  }
  .block {
    display:block;
    border-radius: 10px;
    border-width: 20px;
    border-color: orangered;
    width: 100%;
    border: none;
    background-color: yellow;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .block:hover {
    background-color: pink;
    color: black;
  }